.contentWrapper{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    min-height: 100vh;
    height: 100%;
}

.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    
}
.nav a{
    font-size: 13px;
    line-height: 24px;
    cursor: pointer;
    padding-left: 15px;

}
.nav a:hover{
    text-decoration: underline;
}

.header{
    height: 50px;
}
.main{
    flex: 3;
    margin-top: 15px;
}
.footer{
    background: #f2f2f2;
}

.nigeria{
    margin-left: 17px;
    border-bottom: 1px solid #dadce0;
}

.searchIcon{
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

.inputWrapper{
    border: 1px solid #dfe1e5;
}

.first a{
    padding: 15px;
    } 
.second a{
padding: 15px;
}
.footer a:hover{
    text-decoration: underline;
}
.lang a{
    color: #1a0dab;
    padding: 0 3px;
    font-size: 14px;
    
}
.lang a:hover{
    text-decoration: underline;
}